{{<layout}}

  {{$applicationContent}}

    <div class="govuk-box-highlight padding-small">
      <h1 class="bold-large m-b-s">Feedback sent</h1>
      <p><strong class="heading-small">You can close this tab now.</strong></p>
    </div>

  {{/applicationContent}}

{{/layout}}
