{{<layout}}

  {{$applicationContent}}

  <h2 class="heading-xlarge">Give feedback</h2>

  <form method="POST">

    <div class="form-group" id="atGlance-panel">
      <fieldset>
        <legend class="form-label-bold text" data-test-id="question-atGlance">
          {{labels.atGlance}}
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        {{#options.atGlance}}
          <label for="{{name}}-{{value}}" class="block-label">
            <input id="{{name}}-{{value}}" data-test-id="{{name}}-{{value}}" type="radio" name="{{name}}" value="{{value}}">
            {{label}}
          </label>
        {{/options.atGlance}}
      </fieldset>
    </div>
    <div class="form-group" id="usefulSummary-panel">
      <fieldset>
        <legend class="form-label-bold text" data-test-id="question-usefulSummary">
          {{labels.usefulSummary}}
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        {{#options.usefulSummary}}
          <label for="{{name}}-{{value}}" class="block-label">
            <input id="{{name}}-{{value}}" data-test-id="{{name}}-{{value}}" type="radio" name="{{name}}" value="{{value}}">
            {{label}}
          </label>
        {{/options.usefulSummary}}

      </fieldset>
    </div>


    <div class="form-group" id="agentInToolOrJournal-panel">
      <fieldset>
        <legend class="form-label-bold text" data-test-id="question-agentInToolOrJournal">
          {{labels.agentInToolOrJournal}}
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

         {{#options.agentInToolOrJournal}}
          <label for="{{name}}-{{value}}" class="block-label">
            <input id="{{name}}-{{value}}" data-test-id="{{name}}-{{value}}" type="radio" name="{{name}}" value="{{value}}">
            {{label}}
          </label>
        {{/options.agentInToolOrJournal}}
      </fieldset>

      <div class="panel panel-border-narrow ">
        <label for="agentInToolOrJournalWhy" class="form-label">
          {{labels.agentInToolOrJournalWhy}}
        </label>
         <textarea id="agentInToolOrJournalWhy" data-test-id="agentInToolOrJournalWhy" class="text textarea-full" rows="2" name="agentInToolOrJournalWhy"></textarea>
      </div>

    </div>

    <div class="form-group" id="claimantInToolOrJournal-panel">
      <fieldset>
        <legend class="form-label-bold text" data-test-id="question-claimantInToolOrJournal">
          {{labels.claimantInToolOrJournal}}
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

         {{#options.claimantInToolOrJournal}}
          <label for="{{name}}-{{value}}" class="block-label">
            <input id="{{name}}-{{value}}" data-test-id="{{name}}-{{value}}" type="radio" name="{{name}}" value="{{value}}">
            {{label}}
          </label>
        {{/options.claimantInToolOrJournal}}
      </fieldset>
    </div>

    <div class="form-group" id="wasItHelpful-panel">
      <fieldset>
        <legend class="form-label-bold text" data-test-id="question-wasItHelpful">
          {{labels.wasItHelpful}}
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

         {{#options.wasItHelpful}}
          <label for="{{name}}-{{value}}" class="block-label">
            <input id="{{name}}-{{value}}" data-test-id="{{name}}-{{value}}" type="radio" name="{{name}}" value="{{value}}">
            {{label}}
          </label>
        {{/options.wasItHelpful}}
      </fieldset>
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="otherInformation" data-test-id="question-otherInformation">
        {{labels.otherInformation}}
      </label>
      <textarea id="otherInformation" data-test-id="otherInformation" class="text textarea-full" rows="6" name="otherInformation"></textarea>
    </div>


      <input class="button" type="submit" value="Save">
    </form>

  {{/applicationContent}}

{{/layout}}
