{{<layout}}

  {{$applicationContent}}

  <h2 class="heading-xlarge">Give Feedback</h2>

  <form method="POST">
    <input class="visually-hidden" data-test-id="param-ref" name="ref" type="text" value="{{ref}}">
    <input class="visually-hidden" data-test-id="param-type" name="type" type="text" value="{{type}}">

    <div class="form-group">

      <h3 class="form-label-bold text" data-test-id="question-why-types">Why did you set this To-Do for the Claimant?</h3>
      <p>Select all that apply</p>

      <fieldset>

        <legend class="visuallyhidden">Why did you set this To-Do for the Claimant?</legend>

        <label class="block-label" for="why-type-start-goals">
          <input id="why-type-start-goals" data-test-id="why-type-start-goals" name="whyTypes" type="checkbox" value="start-goals">
          To get someone started on job goals
        </label>
        <label class="block-label" for="why-type-broaden-goals">
          <input id="why-type-broaden-goals" data-test-id="why-type-broaden-goals" name="whyTypes" type="checkbox" value="broaden-goals">
          To broaden job goals
        </label>
        <label class="block-label" for="why-type-transferable-skills">
          <input id="why-type-transferable-skills" data-test-id="why-type-transferable-skills" name="whyTypes" type="checkbox" value="transferable-skills">
          To look for transferable skills
        </label>
        <label class="block-label" for="why-type-update-cv">
          <input id="why-type-update-cv" data-test-id="why-type-update-cv" name="whyTypes" type="checkbox" value="update-cv">
          To update their CV
        </label>
        <label class="block-label" for="why-type-search-terms">
          <input id="why-type-search-terms" data-test-id="why-type-search-terms" name="whyTypes" type="checkbox" value="search-terms">
          To look for alternative search terms for their online job search
        </label>
        <label class="block-label" for="why-type-other">
          <input id="why-type-other" data-test-id="why-type-other" name="whyTypes" type="checkbox" value="other">
          Other
        </label>



        <div class="panel panel-border-narrow js-hidden-just-kidding" id="example_why_other" style="float:left;clear:left">
          <label for="why_other_answer" class="form-label">
            Reason
          </label>
          <input type="text" id="why_other_answer" data-test-id="why-other-answer" name="whyTypeOtherReason">
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-startGoalsHelped">
          Did this help the Claimant to get someone started on job goals?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="startGoalsHelped-yes" class="block-label">
          <input id="startGoalsHelped-yes" data-test-id="startGoalsHelped-yes" type="radio" name="startGoalsHelped" value="true">
          Yes
        </label>

        <label for="startGoalsHelped-no" class="block-label">
          <input id="startGoalsHelped-no" data-test-id="startGoalsHelped-no" type="radio" name="startGoalsHelped" value="false">
          No
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-broadenGoalsHelped">
          Did this help the Claimant to broaden job goals?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="broadenGoalsHelped-yes" class="block-label">
          <input id="broadenGoalsHelped-yes" data-test-id="broadenGoalsHelped-yes" type="radio" name="broadenGoalsHelped" value="true">
          Yes
        </label>

        <label for="broadenGoalsHelped-no" class="block-label">
          <input id="broadenGoalsHelped-no" data-test-id="broadenGoalsHelped-no" type="radio" name="broadenGoalsHelped" value="false" value="false">
          No
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-transferableSkillsHelped">
          Did this help the Claimant to look for transferable skills?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="transferableSkillsHelped-yes" class="block-label">
          <input id="transferableSkillsHelped-yes" data-test-id="transferableSkillsHelped-yes" type="radio" name="transferableSkillsHelped" value="true">
          Yes
        </label>

        <label for="transferableSkillsHelped-no" class="block-label">
          <input id="transferableSkillsHelped-no" data-test-id="transferableSkillsHelped-no" type="radio" name="transferableSkillsHelped" value="false">
          No
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-updateCvHelped">
          Did this help the Claimant to update their CV?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="updateCvHelped-yes" class="block-label">
          <input id="updateCvHelped-yes" data-test-id="updateCvHelped-yes" type="radio" name="updateCvHelped" value="true">
          Yes
        </label>

        <label for="updateCvHelped-no" class="block-label">
          <input id="updateCvHelped-no" data-test-id="updateCvHelped-no" type="radio" name="updateCvHelped" value="false">
          No
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-searchTermsHelped">
          Did this help the Claimant to look for alternative search terms for their online job search?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="searchTermsHelped-yes" class="block-label">
          <input id="searchTermsHelped-yes" data-test-id="searchTermsHelped-yes" type="radio" name="searchTermsHelped" value="true">
          Yes
        </label>

        <label for="searchTermsHelped-no" class="block-label">
          <input id="searchTermsHelped-no" data-test-id="searchTermsHelped-no" type="radio" name="searchTermsHelped" value="false">
          No
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-otherHelped">
          Did this help the Claimant to do the other thing you wanted them to do?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="otherHelped-yes" class="block-label">
          <input id="otherHelped-yes" data-test-id="otherHelped-yes" type="radio" name="otherHelped" value="true">
          Yes
        </label>

        <label for="otherHelped-no" class="block-label">
          <input id="otherHelped-no" data-test-id="otherHelped-no" type="radio" name="otherHelped" value="false">
          No
        </label>

      </fieldset>
    </div>


    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label-bold text" data-test-id="question-claimantChange">
          Has the Claimant changed how they search or prepare for work after using this tool?
        </legend>
        <div class="form-hint text radio-hint"> </div>
        <div class="form-error validation-message"> </div>

        <label for="claimantChange-yes" class="block-label">
          <input id="claimantChange-yes" data-test-id="claimantChange-yes" type="radio" name="claimantChange" value="true">
          Yes
        </label>

        <label for="claimantChange-no" class="block-label">
          <input id="claimantChange-no" data-test-id="claimantChange-no" type="radio" name="claimantChange" value="false">
          No
        </label>

      </fieldset>
    </div>


    <div class="form-group">
      <label class="form-label-bold" for="claimantFeedback" data-test-id="question-claimantFeedback">What feedback has your Claimant given you about this tool?</label>
      <br>
      <textarea id="claimantFeedback" data-test-id="claimantFeedback" class="form-control-4-4 text " rows="6" name="claimantFeedback"></textarea>
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="job-title" data-test-id="question-agentFeedback">What feedback would you like to give about this tool?</label>
      <br>
      <textarea id="agentFeedback" data-test-id="agentFeedback" class="form-control-4-4 text " rows="6" name="agentFeedback"></textarea>
    </div>


    <!--<div class="form-group">-->
      <!--<fieldset class="inline">-->
        <!--<legend class="form-label-bold text">-->
          <!--Please rate Explore Work You Could Do?-->
        <!--</legend>-->
        <!--<div class="form-hint text radio-hint"> </div>-->
        <!--<div class="form-error validation-message">Literally stars *****</div>-->

      <!--</fieldset>-->
    <!--</div>-->

      <input class="button" type="submit" value="Save">
    </form>

  {{/applicationContent}}

{{/layout}}
